body {
    margin: 0%;
    padding: 0%;
}

.navBar {
    background-color: rgb(24, 3, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navLeft {
        margin-left: 5%;

    }

    .navRight {
        margin-right: 5%;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
    }

}

.navBar * {
    color: snow;
}

.titre {
    margin: 0px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.mainItem {
    background-color: gray;
    border: 10px solid red;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .formular {
        background-color: snow;
        border: 10px solid blue;
        flex-basis: 25%;
        margin: 15px 10px 5px 100px;
        padding: 10px;
    }
}

input,
textarea,
select,
button {
    box-sizing: border-box;
    width: 100%;
}