body {
    margin: 0%;
    padding: 0%;
}

.navBar {
    background-color: rgb(24, 3, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navLeft {
        margin-left: 5%;

    }

    .navRight {
        margin-right: 5%;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
    }

}

.navBar * {
    color: snow;
}

.titre {
    margin: 0px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.mainItem {
    background-color: rgb(237, 213, 213);
    border: 10px solid red;

    display: flex;
    justify-content: space-between;

}

.formular {
    background-color: snow;
    flex-basis: 35%;
    margin: 5px 10px 5px 100px;
    padding: 10px;
}

input,
textarea,
select,
button {
    box-sizing: border-box;
    width: 100%;
}

h2 {
    font-size: 1.5rem;
}

.imageChamp {
    border: 2px solid rgb(186, 172, 172);
    padding: 3px;
}

.mesTache {
    border: 5px solid rebeccapurple;
    background-color: snow;
    flex-basis: 45%;
    margin: 05px 100px 5px 10px;
    padding: 10px;

    .tache {
        border: 2px solid rgb(186, 172, 172);
        display: flex;
        justify-content: space-between;
    }

    h3,
    p {
        font-size: 15px;
        margin: 5px 0px;
    }

    .easy {
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        background-color: greenyellow;

    }

    .medium {
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        background-color: greenyellow;

    }

    .high {
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        background-color: greenyellow;

    }

}